<div class="post-additional-info inline-items">
    
    <div class="friends-harmonic-wrap">
        <ul class="friends-harmonic">
            <li>
                <a href="#">
                    <img src="assets/img/icon-chat27.png" alt="icon">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/icon-chat2.png" alt="icon">
                </a>
            </li>
        </ul>
        <div class="names-people-likes">
            26
        </div>
    </div>

    <div class="comments-shared">
        <a href="#" class="post-add-icon inline-items">
            <svg class="olymp-speech-balloon-icon">
                <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
            </svg>
            <span>0</span>
        </a>
    </div>

</div>