<div class="row">

        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="clients-grid">

                <div class="row sorting-container" id="products-grid-1" data-layout="masonry" style="position: relative; height: 1547.2px;">
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs" style="position: absolute; left: 0%; top: 0px;">
                            <app-normal-post></app-normal-post>
                    </div>
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs" style="position: absolute; left: 0%; top: 0px;">
                            <app-post-with-slider></app-post-with-slider>
                    </div>
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs" style="position: absolute; left: 0%; top: 0px;">
                            <app-normal-post></app-normal-post>
                    </div>
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs" style="position: absolute; left: 0%; top: 0px;">
                            <app-post-with-thumbnail></app-post-with-thumbnail>
                    </div>
                    <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs" style="position: absolute; left: 0%; top: 0px;">
                            <app-post-no-thumbnail></app-post-no-thumbnail>
                    </div>

                </div>
            </div>
        </div>
    </div>
