/* You can add global styles to this file, and also import other style files */
.bg-facebook {
    background-color: #2f5b9d !important;
    color: white;
}
.bg-twitter {
    background-color: #38bff1 !important;
    color: white;
}
.btn-purple {
    background-color: #7c5ac2 !important;
    color: white;
}
.btn-border {
    border: solid 2px !important;
    color: #fff;
}