<section>
    <div class="main-header">
        <div class="content-bg-wrap bg-account"></div>
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                    <div class="main-header-content">
                        <h1>Univerzite Arama Motoru</h1>
                        <p>Welcome to our blog! Here you’ll find news about the latest features of our network, plugins,
                            interviews with our developers and lots of other cool things! We also feature the best
                            profiles and fan pages,
                            so keep an eye out or let us know if you wanna appear here or if you wanna nominate someone.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <img class="img-bottom" src="assets/img/blog_bottom.png" alt="friends">
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block responsive-flex1200">
                    <div class="ui-block-title">

                        <div class="w-select">
                            <div class="title">Filter By:</div>
                            <fieldset class="form-group">
                                <div class="btn-group bootstrap-select form-control">
                                    <select class="selectpicker form-control" tabindex="-98">
                                        <option value="NU">All Categories</option>
                                        <option value="NU">Favourite</option>
                                        <option value="NU">Likes</option>
                                    </select>
                                </div>
                                <span class="material-input"></span>
                            </fieldset>
                        </div>
                        <div class="w-select">

                            <fieldset class="form-group">
                                <div class="btn-group bootstrap-select form-control">
                                    <select class="selectpicker form-control" tabindex="-98">
                                        <option value="NU">All Categories</option>
                                        <option value="NU">Favourite</option>
                                        <option value="NU">Likes</option>
                                    </select>
                                </div>
                                <span class="material-input"></span>
                            </fieldset>
                        </div>
                        <div class="w-select">

                            <fieldset class="form-group">
                                <div class="btn-group bootstrap-select form-control">
                                    <select class="selectpicker form-control" tabindex="-98">
                                        <option value="NU">All Categories</option>
                                        <option value="NU">Favourite</option>
                                        <option value="NU">Likes</option>
                                    </select>
                                </div>
                                <span class="material-input"></span>
                            </fieldset>
                        </div>


                        <a href="#" class="btn btn-blue btn-md-2">Filter Products</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div
                class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
                <div class="ui-block">

                    <!-- Your Profile  -->

                    <div class="your-profile">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">Your PROFILE</h6>
                        </div>

                        <div id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Profile Settings
                                            <svg class="olymp-dropdown-arrow-icon">
                                                <use
                                                    xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon">
                                                </use>
                                            </svg>
                                        </a>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse show" role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <ul class="your-profile-menu">
                                        <li>
                                            <a href="28-YourAccount-PersonalInformation.html">Personal Information</a>
                                        </li>
                                        <li>
                                            <a href="29-YourAccount-AccountSettings.html">Account Settings</a>
                                        </li>
                                        <li>
                                            <a href="30-YourAccount-ChangePassword.html">Change Password</a>
                                        </li>
                                        <li>
                                            <a href="31-YourAccount-HobbiesAndInterests.html">Hobbies and Interests</a>
                                        </li>
                                        <li>
                                            <a href="32-YourAccount-EducationAndEmployement.html">Education and
                                                Employement</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="ui-block-title">
                            <a href="33-YourAccount-Notifications.html" class="h6 title">Notifications</a>
                            <a href="#" class="items-round-little bg-primary">8</a>
                        </div>
                        <div class="ui-block-title">
                            <a href="34-YourAccount-ChatMessages.html" class="h6 title">Chat / Messages</a>
                        </div>
                        <div class="ui-block-title">
                            <a href="35-YourAccount-FriendsRequests.html" class="h6 title">Friend Requests</a>
                            <a href="#" class="items-round-little bg-blue">4</a>
                        </div>
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">FAVOURITE PAGE</h6>
                        </div>
                        <div class="ui-block-title">
                            <a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Create Fav Page</a>
                        </div>
                        <div class="ui-block-title">
                            <a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Fav Page Settings</a>
                        </div>
                    </div>

                    <!-- ... end Your Profile  -->

                </div>
            </div>
            <div class="col col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                <div class="clients-grid">
                    <div class="row sorting-container" id="products-grid-1" data-layout="masonry"
                        style="position: relative; height: 1547.2px;">

                        <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs"
                            style="position: absolute; left: 0%; top: 0px;">
                            <app-normal-post></app-normal-post>
                        </div>
                        <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs"
                            style="position: absolute; left: 0%; top: 0px;">
                            <app-post-with-slider></app-post-with-slider>
                        </div>
                        <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs"
                            style="position: absolute; left: 0%; top: 0px;">
                            <app-post-with-thumbnail></app-post-with-thumbnail>
                        </div>
                        <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs"
                            style="position: absolute; left: 0%; top: 0px;">
                            <app-post-no-thumbnail></app-post-no-thumbnail>
                        </div>
                        <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs"
                            style="position: absolute; left: 0%; top: 0px;">
                            <app-post-with-slider></app-post-with-slider>
                        </div>
                        <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs"
                            style="position: absolute; left: 0%; top: 0px;">
                            <app-post-with-thumbnail></app-post-with-thumbnail>
                        </div>
                        <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs"
                            style="position: absolute; left: 0%; top: 0px;">
                            <app-post-with-slider></app-post-with-slider>
                        </div>
                        <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 sorting-item coffee-mugs"
                            style="position: absolute; left: 0%; top: 0px;">
                            <app-normal-post></app-normal-post>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>