<!-- <div class="row">
    <div class="col-md-6" *ngFor="let post of posts">

        <div *ngIf="post.categoryId==1 || post.categoryId==1">
            <app-normal-post [post]="post"></app-normal-post>
        </div>
        <div *ngIf="!(post.categoryId==1 || post.categoryId==1)" >
            <app-post-with-slider *ngIf="post.images.length>1" [post]="post"></app-post-with-slider>
            <app-post-no-thumnail *ngIf="post.images.length==0" [post]="post"></app-post-no-thumnail>
            <app-post-with-thumnail *ngIf="post.images.length==1" [post]="post"></app-post-with-thumnail>
    
        </div>
       
    </div>
</div> -->